:root {
    --title-color: #212121;
    --text-color: #757575;
    --hover-link-color: #2196F3;
    --background-color: #ffffff;
    --background-color-footer: #2F303A;
}

body {
    background-color: #ffffff;
    font-family: 'Roboto', 'Railway';
    color: var(--title-color);
    font-weight: 400;
}

.logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #000000;
    text-decoration: none;
}

.web-logo {
    color: #2196F3;
}

.site-nav {
    list-style: none
}

.nav-link:hover,
.nav-link:focus {
    color: var(--hover-link-color)
}

.nav-link {
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--title-color)
}

.contacts-nav {
    list-style: none
}

.contacts-link {
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--text-color);
}

.contacts-link:hover,
.contacts-link:focus {
    color: var(--hover-link-color);
}

.hero {
    background-color: #2F303A;
}

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--background-color);
}

.request-our-service {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    background-color: #2196F3;
    color: var(--background-color);
    cursor: pointer;
}

.peculiarities-list {
    list-style: none
}

.peculiarities-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-color);
}

.peculiarities-text {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--text-color);
}

.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-color);
}

.activities-list {
    list-style: none
}

.our-team {
    background-color: #F5F4FA;
}

.team-list {
    list-style: none
}

.team-card {
    background: #FFFFFF;
}

.employee-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-color);
}

.employee-position {
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
}

.filters-list {
    list-style: none
}

.projects-list {
    list-style: none;
}

.button-filters {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-color);
    cursor: pointer;
}

.button-filters:hover,
.button-filters:focus {
    color: var(--background-color);
    background-color: #2196F3;
}

.product-name {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-color);
}

.product-text {
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--text-color);
}

.product-link {
    text-decoration: none;
}

.footer {
    background-color: var(--background-color-footer);
}

.footer-logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--background-color);
    text-decoration: none;
}

.footer-list {
    list-style: none
}

.footer-adress {
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
    /* or 171% */
    letter-spacing: 0.03em;
    color: var(--background-color);
    text-decoration: none;
}

.footer-adress:hover,
.footer-adress:focus {
    color: var(--hover-link-color);
}

.footer-contacts {
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}

.footer-contacts:hover,
.footer-contacts:focus {
    color: var(--hover-link-color);
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}